extends ../layout

block content
  table.table
      thead
        tr
          th Name
          th Phone Number
          th Appointment time (UTC)
          th Notification time (UTC)
          th Time Zone
          th Actions
          th
      tbody
        each appointment in appointments
          tr
            td  !{appointment.name}
            td  !{appointment.phoneNumber}
            td  #{moment(appointment.time).format('YYYY-MM-DD hh:mma')}
            td  #{moment(appointment.time).subtract(appointment.notification, 'minutes').format('YYYY-MM-DD hh:mma')}
            td  !{appointment.timeZone}
            td
              a.btn.btn-default.btn-sm(href="/appointments/" + appointment.id + "/edit") Edit
            td
              form(action="/appointments/" + appointment.id + "/delete",method="POST")
                button.btn.btn-danger.btn-sm(type='submit') Delete
